<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="city" routerLinkActive="active">City <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cityAdd" routerLinkActive="active">City Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="!isAuthenticated" routerLink="register" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="userName" 
      [(ngModel)]="loginUser.userName" required type="text" placeholder="User Name">
      <input class="form-control mr-sm-2" name="password" 
      [(ngModel)]="loginUser.password" required type="password" placeholder="Password">
      <button class="btn btn-secondary my-2 my-sm-0" [disabled]="!loginForm.valid"  type="submit">Giriş</button>
    </form>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="isAuthenticated" style="margin-top: 8px;">
                Hoş Geldiniz {{loginUser.userName}}
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="isAuthenticated" routerLink="register" routerLinkActive="active">
                <img class="user" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="Smiley face" height="32" width="32">
              </a>
          </li>
          <li class="nav-item">
            <button class="btn btn-secondary my-2 my-sm-0" *ngIf="isAuthenticated" (click)="logOut()"  type="submit">Çıkış</button>
          </li>
        </ul>
    </div>
  </div>
</nav>